*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 9px 26px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    basackground-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(39, 1, 1, 0.3);
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    position: absolute;
}
.headings{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 40 px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: black;
    border: 1px solid white;
    color: blue;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    color: blue;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px blue;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-items: center;
    padding: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 400px;
    height: 400px;
    margin: 10px;
}

/* Contact Section*/
#contact{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.headings{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: black;
    text-align: center;
}